body {
    line-height: 1.25;
  }
  
  table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    margin: .5em 0 .75em;
  }
  
  table tr {
    border: 1px solid gray;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    border: 1px solid gray;
    text-align: center;
  }

  .mainTable{
    display: inline;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      display: block;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }