.mainContainer{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.topBarText{
    font-size: 40px;
}

.tabBtnPane{
    margin-top: 30%;
    width:140px;
    border-radius: 7px;
}

.tabBtn{
    margin:10px;
    width: 90px;
}

.btn_login_register{
    margin-bottom: 15px;
    font-weight: bold;
}

.formbox{
    border-radius: 8px;
    margin-top: 10%;
    width: 50%;
    padding: 10px;
}

.horizontal_line{
    border-width: thick;
}